/* Importamos la fuente que sí usamos */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

/* Dejamos solo los estilos básicos que venían con Next.js */
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}